* {
	box-sizing: border-box;
}

.logo {
	font-size: relative;
	color: white;
	font-weight: bold;
	font-family: cursive;
}
.navbar {
	background-color: #ffccff;
	text-align: center;
}

.search {
	background-color: blue;
	border: 1px solid;
}
