.elements {
	display: inline;
	bottom: 5%;
}
.elements img {
	border-radius: 20px;
	width: 100%;
}
.title {
	margin-left: 10%;
}
.allDetails {
	/*background-color:red;*/
	display: grid;
	grid-auto-flow: column;
}
@media only screen and (max-width: 500px) {
	.allDetails {
		/*background-color:red;*/
		display: inline;
	}
	.elements p {
		margin-left: 10%;
	}

}
